<h2>Varer til salg</h2>
<br>
<div>
    <table>
        <thead>
            <th>Id</th>
            <th>Navn</th>
            <th>Pris</th>
            <th>Kategori</th>
            <th>Image</th>
         
        </thead>
        <% products.forEach(function(eachCat){ %>
        <tr>
          <td> <a href='/sales/<%= eachCat.id %>'> <%= eachCat.id %> </td>
            <td> <%= eachCat.navn %> </td>
            <td> <%= eachCat.pris %> </td>
            <td> <%= eachCat.kategori %> </td>
            <td> <%= eachCat.image %> </td>
        </tr>
        <% }) %>
    </table>
</div>
<br>

<form action="/sales/opret?_method=GET" method="GET">
    <button type="submit">Opret nyt salg</button>
</form>
<form action="/?_method=GET" method="GET">
    <button type="submit">Gå tilbage til forsiden</button>
</form>